div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}

.translated{
    transform: perspective(10px) translateZ( -10px);
}

.scaled{
    margin-left:320px ;
    transform: perspective(5px) scaleZ(5px) rotateX(15deg) rotateY(15deg);
}